*.dll
*.g.cs
*.pdb
/obj/Debug/netcoreapp2.1/SportsStore.AssemblyInfo.cs
/obj/Debug/netcoreapp2.1/SportsStore.AssemblyInfoInputs.cache
/obj/Debug/netcoreapp2.1/SportsStore.assets.cache
/obj/Debug/netcoreapp2.1/SportsStore.RazorAssemblyInfo.cache
/obj/Debug/netcoreapp2.1/SportsStore.RazorAssemblyInfo.cs
/obj/*
/.vs/SportsStore/config
/.vs/SportsStore/
/obj/Debug/netcoreapp2.1/SportsStore.TagHelpers.output.cache
/bin/Debug/netcoreapp2.1/SportsStore.runtimeconfig.json
/bin/Debug/netcoreapp2.1/SportsStore.deps.json
/bin/Debug/netcoreapp2.1/appsettings.json
/.vs/SportsStore/DesignTimeBuild/.dtbcache.v2
/.vs/SportsStore/v16/.suo
/.vs/SportsStore/config/applicationhost.config
/.vs/SportsStore/v16/.suo
