<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet"
          asp-href-include="/lib/twitter-bootstrap/css/bootstrap_dark2.min.css"
          asp-href-exclude="**/*-reboot*,**/*-grid*" />
    <link rel="stylesheet"
          asp-href-include="/lib/font-awesome/css/*.css" />
    <link rel="stylesheet"
          asp-href-include="~/css/site.css" />
    <link rel="stylesheet"
          asp-href-include="~/lib/ag-grid/styles/ag-theme-dark.css" />
    <title>SportsStore</title>
    <script src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js">
    </script>
    <script src="~/js/site.js"></script>
    <script src="~/lib/ag-grid/ag-grid-community.min.js"></script>
</head>
<body>
    <!-- Header Navigation -->
    @await Html.PartialAsync("~/Views/Shared/Headers/_Header.cshtml")

    <div class="container mt-5">
        @RenderBody()
    </div>
</body>
</html>
