@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet"
          asp-href-include="/lib/twitter-bootstrap/css/bootstrap_dark.min.css"
          asp-href-exclude="**/*-reboot*,**/*-grid*" />
    <link rel="stylesheet"
          asp-href-include="/lib/font-awesome/css/*.css" />
    <link rel="stylesheet"
          asp-href-include="~/css/site.css" />
    <title>SportsStore</title>
    <script src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js">
    </script>
    <script src="~/js/site.js"></script>
</head>
<body>
    <!-- Header Navigation -->
    @await Html.PartialAsync("~/Views/Dynamic/_Header.cshtml")

    <!-- MAIN BODY -->
    <div class="container mt-5">
        <main role="main" class="pb-3" id="main-body-container">
            @RenderBody()
        </main>
    </div>
</body>
</html>
